<html  xmlns:th="http://www.thymeleaf.org">
<head>
		<meta charset="ISO-8859-1"></meta>
		<title>User List</title>
		<style>
			table, th, td {
	    		border: 1px solid black;
			}
		</style>
	</head>
	<body>
		<a href="/task/create"><button>Create Task</button></a>
		<br/>
		<br/>
		<table>
			<thead>
				<tr>
					
					<th>Id</th>
					<th>Task</th>
					<th>Description</th>
					<th>Created Date</th>
					<th>Updated Date</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody th:if = "${taskList != null}">
				<tr th:each = "task: ${taskList}">
					<td th:text = "${task.getId()}"></td>
					<td th:text = "${task.getName()}"></td>
					<td th:text = " ${task.getDescription()}"></td>
					<td th:text = " ${task.getDateCreated()}"></td>
					<td th:text = " ${task.getDateUpdated()}"></td>
					<td>
						<a th:href="@{|/task/update/${task.getId()}|}"><button>Edit</button></a>
						<a th:href="@{|/task/delete/${task.getId()}|}"><button>Delete</button></a>
					</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>